.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.interactiveButton {
<<<<<<< HEAD
  background-color: #6a0dad;
=======
  background-color: #6a0dad; /* A nice purple */
>>>>>>> e25e880e08042cc52ec0e5c6e265e2e07042e8ac
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.interactiveButton:hover {
<<<<<<< HEAD
  background-color: #7b2eec;
}
=======
  background-color: #7b2eec; /* Lighter purple on hover */
}
>>>>>>> e25e880e08042cc52ec0e5c6e265e2e07042e8ac
