version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    env_file:
      - ./app/.env
    depends_on:
      - qdrant
    restart: on-failure

  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ./auth:/usr/src/app
    restart: on-failure

  qdrant:
    image: qdrant/qdrant:v1.7.3
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: on-failure
