.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-background-color);
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featureItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.featureImageWrapper {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.featureSvg {
  height: 220px;
  width: 220px;
  max-width: 100%;
  fill: currentColor;
}

.featureText {
  padding: 0 1rem;
}

@media (max-width: 996px) {
  .featureSvg {
    height: 180px;
    width: 180px;
  }
  
  .features {
    padding: 3rem 0;
  }
}